.container {
    margin-top: 6em;
    max-height:calc(100vh - 8em);
    overflow: auto;
    width: 1000px;
}

.hide-header {
    display: none;
}

.defaultImage {
    max-width: 200px;
    max-height: 200px;
}