@import pme123.adapters.server.boundary.{ClientType, JOB_CLIENT}

@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(context: String
        , clientType: ClientType
        , assets: AssetsFinder)(implicit r: Request[_], rh: RequestHeader)

@views.html.adapters.mainDemo(assets = assets
    , webJarsUtil = webJarsUtil
)(title = "Demo Adapter"
    , icon = assets.withUrlPrefix(context).path("assets/images/favicon.png")
    , styles = Html("<link rel=\"stylesheet\" type=\"text/css\" href=\"" +assets.withUrlPrefix(context).path("assets/stylesheets/main.css") + "\">")
    , clientScripts = Html("<script src=\"" +assets.withUrlPrefix(context).path("assets/javascripts/versioned.js")+ "\" ></script>")
) {

    @scalajs.html.scripts("scala-adapters-client",
        routes.Assets.at(_).toString,
        name => getClass.getResource(s"/public/$name") != null)

    @if(clientType == JOB_CLIENT) {
        <script>client.JobCockpitClient.main("@context");</script>
    } else {
        <script>client.DemoResultClient.main("@context");</script>
    }

}