@import pme123.adapters.server.entity.ProjectConfig

@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(projConfig: ProjectConfig
        , assets: AssetsFinder)(implicit r: Request[_], rh: RequestHeader)

@views.html.adapters.main(assets = assets
    , webJarsUtil = webJarsUtil
)(projConfig = projConfig
    , icon = assets.withUrlPrefix(projConfig.context).path("assets/images/favicon.png")
    , styles = Html(projConfig.styleName.map(style=> "<link rel=\"stylesheet\" type=\"text/css\" href=\"" + assets.withUrlPrefix(projConfig.context).path(s"assets/stylesheets/$style.css") + "\">").getOrElse(""))
) {

    @scalajs.html.scripts(s"${projConfig.projectName}-client",
        routes.Assets.at(_).toString,
        name => getClass.getResource(s"/public/$name") != null)


    <script>client.@(projConfig.clientName).main("@projConfig.context", "@projConfig.websocketPath", "@projConfig.clientType");</script>
}