@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(context: String, assets: AssetsFinder)(implicit r: Request[_], rh: RequestHeader)

@views.html.adapters.mainCommon(assets = assets
    , webJarsUtil = webJarsUtil
)(title = "Demo Adapter"
    , icon = assets.withUrlPrefix(context).path("assets/images/favicon.png")
    , styles = Html("<link rel=\"stylesheet\" type=\"text/css\" href=\"" +assets.withUrlPrefix(context).path("assets/stylesheets/main.css") + "\">")
    , clientScripts = Html("<script src=\"" +assets.withUrlPrefix(context).path("assets/javascripts/versioned.js")+ "\" ></script>")
) {

    @scalajs.html.scripts("scala-adapters-client",
        routes.Assets.at(_).toString,
        name => getClass.getResource(s"/public/$name") != null)

    <script>client.JobCockpitClient.main("@context");</script>

}